* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fffbf0;
    font-family: Comic Sans MS, Chalkboard, Comic Neue, cursive, sans-serif;
}

a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 6px;
}

header {
    position: sticky;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #a855f7, #ec4899);
    z-index: 100;
    top: 0px;
    color: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);

}

.container {
    display: flex;
    padding: 1rem;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.Logo {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

#title {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.left a:hover {
    animation: bounce .5s ease-in-out
}

@keyframes bounce {

    0%,
    to {
        transform: translateY(0) scale(1.05)
    }

    50% {
        transform: translateY(-10px) scale(1.05)
    }
}

.right {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.right div {
    padding: 0.5rem 0.75rem;
    border-radius: 50px;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Homelogo,
.Homelogo:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.hover:hover {
    background: rgba(255, 255, 255, 0.25);
}

.Homelogo a {
    color: #a855f7;
}

main {
    flex: 1 1 0%;
    margin: auto;

    padding: 2rem 1rem;
    justify-content: center;
}

main section {
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

.block1 {
    padding: 2rem;
    position: relative;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #a855f7, #ec4899);
    color: white;
}

.book {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: xxx-large;
    opacity: 20%;
}

.star {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: xxx-large;
    opacity: 20%;
}

.head {
    position: relative;
    z-index: 10;
}

.head div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.head div img {
    animation: pulse 1s infinite
}

.head span {
    font-size: large;
    font-weight: 600;
}

.head h1 {
    font-size: xxx-large;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

.head p {
    font-size: small;

}

.head p span {
    font-weight: bold;
    color: rgb(245, 245, 59);
}

.block2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.cell {
    border-radius: 1rem;
    background-color: #ffffff;
    border: 1px solid rgb(200, 200, 200);
    color: #33194d;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.cell div {
    padding: 1rem;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

.cell:hover {
    animation: bounce .5s ease-in-out
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.heading h2 {
    font-size: xx-large;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    color: #33194d;
    gap: 0.5rem;
}

.heading div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cardgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.card {
    border-radius: 1rem;
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);

}

.card:hover {
    animation: bounce .5s ease-in-out
}

#purpletop {
    background: linear-gradient(90deg, #a855f7, #ec4899);
    height: 0.75rem;
}


#orangetop {
    background: linear-gradient(135deg, #ffaa33, #f97a1f);
    height: 0.75rem;
}

#bluetop {
    background: linear-gradient(135deg, #26d9d9, #3d7af5);
    height: 0.75rem;
}

#greentop {
    background: linear-gradient(135deg, #22c358, #22c373);
    height: 0.75rem;
}

.cardmain {
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.cardmain div {
    display: flex;

}

.flex {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.flex div {
    display: flex;
    flex-direction: column;


}

.flex span {
    font-size: xx-large;
}

.flex div h3 {
    font-size: 1.125rem;
    font-weight: bold;
    color: #33194d;

}

.flex div p {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #4d2574;
}

.flex div p img {
    width: 1rem;
    height: 1rem;
}

.cardmid {
    padding: 0rem 2rem 1rem 1.5rem;

}

.cardmid div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bluebut {
    border-radius: 50px;
    background-color: #3b82f6;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .15rem .75rem;
}

#orangebut {
    border-radius: 50px;
    background-color: #f97a1f;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .15rem .75rem;
}

#greenbut {
    border-radius: 50px;
    background-color: #22c373;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .15rem .75rem;
}

.txtxsm {
    font-size: 0.8rem;
    gap: .25rem;
}

#bluebut img,
#orangebut img,
#greenbut img {
    width: .75rem;
    height: .75rem;
    margin-right: .25rem;

}

#bluebut,
#orangebut,
#greenbut {

    transition: filter 0.25s ease;
}

#bluebut:hover,
#orangebut:hover,
#greenbut :hover {
    filter: brightness(0.9);
}

#bluebut :active,
#orangebut :active,
#greenbut :active {
    filter: brightness(0.85);
}

.startbutton {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    align-items: center;
}

.startbutton a {
    width: 100%;

}

.startbutton a button {
    font-family: "Comic Sans MS", Chalkboard, "Comic Neue", cursive, sans-serif;
    padding: 1.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    gap: .5rem;
    width: 100%;
    color: white;
    font-weight: 5500;
    border: none;
    font-size: small;
    cursor: pointer;
    transition: filter 0.25s ease;
}

.startbutton a button:hover {
    filter: brightness(0.9);

}

.startbutton a button:active {
    filter: brightness(0.85);

}

.block3 {
    background: linear-gradient(135deg, #ffaa33, #f97a1f);
    color: white;
    text-align: center;
    padding: 1.5rem;
    border-radius: 1.5rem;
}

.block3top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.block3 h3 {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.block3 p {
    text-decoration-color: white;
}

footer {
    width: auto;
    background: linear-gradient(135deg, #26d9d9, #3d7af5);
    color: white;
}

.footcontainer {
    padding: 1rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.foottop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.foottop1 {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: large;
    font-weight: bold;
}

.foottop1 img {
    width: 1rem;
    height: 1rem;
    animation: pulse 1s infinite
}

.foottop2 {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.foottop2 a:hover {
    cursor: pointer;
    animation: wiggle .5s ease-in-out
}

.txtsm {
    font-size: small;
    font-weight: lighter;
}

.footbot {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    gap: 2rem;
    font-size: xx-large;
}

.footbot span:hover {
    cursor: pointer;
    animation: wiggle .5s ease-in-out
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

@keyframes wiggle {

    0%,
    to {
        transform: rotate(0)
    }

    25% {
        transform: rotate(-5deg)
    }

    75% {
        transform: rotate(5deg)
    }
}

@media (min-width: 1400px) {

    .container,
    main section,
    .footcontainer {
        max-width: 1400px;
    }

}

@media(max-width:900px) {
    .cardgrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:650px) {
    .right a span {
        display: none;
    }

    .right a {
        padding: 0.25rem;
    }

    .foottop {
        flex-direction: column;
    }

    .head h1 {
        font-size: x-large;
    }

    .block2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .cardgrid {
        grid-template-columns: repeat(1, 1fr);
    }
}